.div {
    margin: 150px;
    
}

.p {
    color: whitesmoke;
    margin-top: 10px;
}

.UserList-P {
    color: blanchedalmond;
    margin-top: 20px;
    font-size: 24px;
}

h2 {
    font: bold;
    font-size: 36px;
}

.userbutton {
    display: inline-flex;
    justify-content: space-evenly;
    width: 75%;
    gap: 15px;
}

.back {
    width: 15%;
    margin-top: 150px;
    margin-left: 10px;
    margin-bottom: -150px;
  }